<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Testing page for socket server</title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
           var socket = io.connect('http://localhost:8000');   
           socket.on('service_state', function(msg) {
            $('#service').append('<br>' + $('<div/>').text('Service received: ' + msg.data).html());
           });      
         });
      </script>
   </head>
   <body>
    <h1>Dyno events</h1>
    <h2>Receive log:</h2>
    <div id="service"></div>
   </body>
</html>
